html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Overpass', sans-serif;

	background-color: #646770;
	background-image: linear-gradient(0deg, #7B7E8A 0%, #646770 98%);
	margin-bottom: 165px;

	/* fixing too heavy fonts in Chrome & Firefox */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:hover{
	color: #E6E6E6;
}

footer a:hover{
	color: #017DE4;
}

.content-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	min-width: 769px;
	overflow-x: hidden;
}

img {
	margin-top: 150px;
}

.right img {
	margin-top: 130px;
}

h1, p, a {
	color: #E6E6E6;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

h1 {
	font-size: 48px;
	margin: 20px 0px;
}

p {
	font-size: 16px;
}

.button, .button:visited, .button:focus {
	display: inline-block;
	width: 200px;
	padding: 10px 30px;
	margin: 20px 0px 0px;

	text-align: center;
	text-transform: uppercase;
	border: 2px solid #E6E6E6;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.button:hover {
	color: #646770;
	text-decoration: none;
	text-shadow: none;
	background-color: #E6E6E6;
}

.button:active {
	box-shadow: none;
	opacity: 0.8;
}

.button-sublabel{
	width: 200px;
	font-size: 12px;
	text-align: center;
	margin-top: 4px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 65px;
	min-width: 769px;
	background-color: #fff;
}

footer p, footer a {
	margin-top: 22px;
	color: #646770;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	text-shadow: none;
}
